body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
}

.grid {
  margin: 10em auto 7em;
  position: relative;
  padding: 0 1em;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-item {
  padding-inline: 4vw;
  margin-bottom: 12vh;
}

.product {
  height: 100%;
  position: relative;
  cursor: pointer;
  padding-top: 10em;
}
.grid-item:nth-child(odd) .product {
  margin-top: -8em;
}

.product-bg {
  background-color: #f5f0ef;
  height: 20em;
  position: relative;
}

.product-img {
  max-height: 25em;
  position: absolute;
  margin-inline: auto;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  pointer-events: none;
}

.product-subtitle {
  color: #a09897;
  text-transform: uppercase;
  font-size: 0.85em;
  letter-spacing: 0.115em;
}

.product-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.product:hover .product-subtitle {
  color: #d35066;
}

.product-description,
.price {
  opacity: 0;
  position: absolute;
}
